{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Zoro</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni ratione enim tempore voluptates voluptatem nostrum perferendis maiores cum vitae, ab suscipit magnam obcaecati, debitis libero accusamus repudiandae numquam perspiciatis illum?</p>
    </div>
    <div class="col-4">
        <img src="assets/image/one.png" class="img-thumbnail" alt="hola">
    </div>
</div>

{{> footer }}